* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#hero-section {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.img-container {
  aspect-ratio: 1/1.5;
  display: flex;
  justify-content: center;
  position: relative;
  width: 80vw;
}

img {
  height: 100%; 
  object-fit: cover;
  width: 100%;
}

.author-name {
  bottom: 10px;
  color: #fff;
  font-size: 3.5rem;
  padding-left: 10px; 
  position: absolute;
}

section {
  padding: 20px;
  font-size: 1.2rem;
}

section#about-section {
  line-height: 30px;
}

section > h2 {
  text-align: center;
  margin-top: 0;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.icons img {
  height: 30px;
}
