:root {
  --bg-c: #fff;
  --text-c: #212529;
  --footer-text-c: #fafafa;
  --box-shadow-c: #00000047;
  --slanted-bg-c: #0483dd;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#hero-section {
  display: flex;
  justify-content: center;
  background: linear-gradient(145deg, var(--slanted-bg-c) 60%, var(--bg-c) 40%);
  padding: 30px 0;
}

.img-container {
  aspect-ratio: 1/1.5;
  display: flex;
  justify-content: center;
  position: relative;
  width: 80vw;
}

img {
  height: 100%; 
  object-fit: cover;
  width: 100%;
}

.author-name {
  bottom: 10px;
  color: var(--bg-c);
  font-size: 3.5rem;
  padding-left: 10px; 
  position: absolute;
}

section {
  padding: 20px;
  font-size: 1.2rem;
}

section#about-section {
  line-height: 30px;
}

section#about-section .img-container {
  display: none;
}

section > h2 {
  text-align: center;
  margin-top: 0;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.icons img {
  height: 30px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
}

.card {
  box-shadow: 1px 1px 5px 2px var(--box-shadow-c);
  min-height: 500px;
  width: 100%;
}

.card h3 {
  margin: 0;
}

.card .preview {
  aspect-ratio: 1.2/1;
}

.card .preview > img {
  object-fit: cover;
}

.card > div:nth-child(2) {
  padding: 10px;
}

.card .heading {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

footer {
  background-color: var(--slanted-bg-c);
  color: var(--footer-text-c);
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 100px;
}

footer > div:first-child {
  padding: 20px;
}

footer h2 {
  text-align: center;
  margin-top: 0;
}

.details > p:first-child {
  font-size: 1.5rem;
}

footer > .img-container {
  width: 100vw;
}

footer img[src$=".svg"] {
  height: 30px;
  width: 30px;
}

.contact-details img {
  filter: invert(100%);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

footer a {
  display: flex;
  gap: 10px;
  align-items: center;
}

.contact-details {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  :root {
    font-size: 18px;
  }

  #hero-section {
    display: none;
  }

  #about-section {
    padding: 150px 80px 50px 80px;
    display: flex;
    justify-content: center;
    position: relative;
    background: linear-gradient(165deg, var(--slanted-bg-c) 60%, var(--bg-c) 40%);
  }

  section#about-section > div > div:last-child {
    box-shadow: 1px 1px 5px 2px var(--box-shadow-c);
    padding: 20px;
    width: 80vw;
    background-color: var(--bg-c);
  }

  section#about-section .img-container {
    display: block;
    aspect-ratio: 1/1.05;
    width: 43vw;
    margin: 0 5px 0px 0;
    float: left;
    transform: translate(-50px, -90px);
    position: absolute;
  }

  section#about-section .img-container > img {
    box-shadow: 2px 2px 4px 0px var(--box-shadow-c);
  }

  .author-name {
    top: 30px;
    width: max-content;
    bottom: unset;
    left: calc(43vw - 100px);
  }

  .projects {
    justify-content: space-between;
  }

  .projects > .card {
    width: 47%;
  }

  footer,
  section {
    padding: 50px;
  }

  section#my-work > h2 {
    text-align: left;
  }

  footer {
    flex-direction: row;
  }

  footer .img-container {
    width: 75vw;
  }

  .layout {
    width: calc(43vw - 50px);
    height: calc((43vw * 1.05) - 90px);
    float: left;
    margin: 0 15px 15px 0;
  }

  section#about-section .icons {
    display: none;
  }
}

@media (min-width: 992px) {
  :root {
    font-size: 16px;
  }

  .layout {
    display: none;
  }

  .author-name {
    top: unset;
    bottom: 40px;
    left: 10px;
  }

  section#about-section .img-container {
    transform: translate(0);
    position: static;
  }

  section#about-section > div {
    display: flex;
    align-items: center;
  }

  section#about-section > div > div:last-child {
    width: 60%;
    z-index: 999;
    padding: 30px;
  }

  section#about-section .img-container {
    width: 40%;
    aspect-ratio: 1/1;
    margin: 0;
  }

  section#about-section h2 {
    margin-top: 0;
  }

  section#about-section .icons {
    display: flex;
    justify-content: flex-end;
  }

  footer,
  section {
    padding: 50px 80px !important;
  }

  .projects > .card {
    width: 30%;
  }

  footer {
    align-items: center;
  }

  footer .img-container {
    width: 55%;
    aspect-ratio: 1.5/1;
  }
}