* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#hero-section {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.img-container {
  aspect-ratio: 1/1.5;
  display: flex;
  justify-content: center;
  position: relative;
  width: 80vw;
}

img {
  height: 100%; 
  object-fit: cover;
  width: 100%;
}

.author-name {
  bottom: 10px;
  color: #fff;
  font-size: 3.5rem;
  padding-left: 10px; 
  position: absolute;
}

section {
  padding: 20px;
  font-size: 1.2rem;
}

section#about-section {
  line-height: 30px;
}

section#about-section .img-container {
  display: none;
}

section > h2 {
  text-align: center;
  margin-top: 0;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.icons img {
  height: 30px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
}

.card {
  box-shadow: 4px 3px 15px 2px #0000007a;
  min-height: 500px;
  width: 100%;
}

.card h3 {
  margin: 0;
}

.card .preview {
  aspect-ratio: 1.2/1;
}

.card .preview > img {
  object-fit: cover;
}

.card > div:nth-child(2) {
  padding: 10px;
}

.card .heading {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

footer {
  background-color: #00f;
  color: #fff;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 100px;
}

footer > div:first-child {
  padding: 20px;
}

footer h2 {
  text-align: center;
  margin-top: 0;
}

.details > p:first-child {
  font-size: 1.5rem;
}

footer > .img-container {
  width: 100vw;
}

footer img[src$=".svg"] {
  height: 30px;
  width: 30px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

footer a {
  display: flex;
  gap: 10px;
  align-items: center;
}

.contact-details {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  :root {
    font-size: 18px;
  }

  #hero-section {
    display: none;
  }

  #about-section {
    padding: 150px 80px;
    display: flex;
    justify-content: center;
    position: relative;
  }

  /* #about-section > div:first-child {
    margin: 10px;
  } */

  section#about-section > div > div:nth-child(2) {
    box-shadow: 4px 3px 15px 2px #0000007a;
    padding: 10px;
    width: 80vw;
  }

  section#about-section > div > div:nth-child(2) > * {
    /* transform: translate(-20px, 0); */
    /* padding-left: calc(43vw - 50px + 10px); */
  }

  section#about-section .img-container {
    display: block;
    aspect-ratio: 1/1.05;
    width: 43vw;
    margin: 0 5px 0px 0;
    float: left;
    transform: translate(-50px, -90px);
    /* position: absolute; */
  }

  .author-name {
    top: 30px;
    width: 100vw;
    color: #000;
    bottom: unset;
    left: calc(43vw - 100px);
  }

  .projects {
    /* column-gap: 50px; */
    justify-content: space-between;
  }

  .projects > .card {
    width: 47%;
  }

  section {
    padding: 50px;
  }

  section#my-work > h2 {
    text-align: left;
  }
}